absl-py==0.15.0
alibi==0.6.2
astunparse==1.6.3
attrs==21.4.0
blis==0.7.6
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.6
Categorical-similarity-measures==0.4
category-encoders==2.3.0
certifi==2020.6.20
chardet==3.0.4
clang==5.0
click==8.0.4
cloudpickle==2.0.0
console-progressbar==1.1.2
contextvars==2.4
cycler==0.11.0
cymem==2.0.6
Cython==0.29.26
dataclasses==0.8
deap==1.3.1
decorator==5.1.0
dill==0.3.4
filelock==3.4.1
flatbuffers==1.12
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
hdbscan==0.8.26
huggingface-hub==0.4.0
idna==2.10
imageio==2.15.0
imbalanced-learn==0.5.0
immutables==0.16
importlib-metadata==4.8.3
Jinja2==3.0.3
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
langcodes==3.3.0
llvmlite==0.36.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.1.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
murmurhash==1.0.6
networkx==2.4
numba==0.53.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603487797006/work
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.0.3
pathy==0.6.1
patsy==0.5.2
PDPbox==0.2.1
Pillow==8.4.0
preshed==3.0.6
protobuf==3.19.4
psutil==5.9.0
PyALE==1.1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pyDOE2==1.3.0
pydot==1.4.1
pydotplus==2.0.2
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
regex==2022.3.2
requests==2.23.0
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.47
scikit-image==0.17.2
scikit-learn==0.21.1
scipy==1.5.4
seaborn==0.11.2
shap==0.40.0
six==1.15.0
sklearn==0.0
slicer==0.0.7
smart-open==5.2.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
spacy-lookups-data==1.0.3
srsly==2.4.2
statsmodels==0.12.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
thinc==8.0.14
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2020.9.3
tokenizers==0.11.6
tqdm==4.62.3
transformers==4.17.0
typer==0.4.0
typing-extensions==3.7.4.3
urllib3==1.25.11
wasabi==0.9.0
Werkzeug==2.0.3
wrapt==1.12.1
zipp==3.6.0
